<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <%= ListTittle %>
        </h1>
    </div>
    <div class="box">

        <% for(let i=0; i<newKindItem.length ;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newKindItem[i] %>
                </p>
            </div>
            <% } %>
                <form class="item" action="/" method="post">
                    <input type="text" name="newInput" placeholder="New Item" autocomplete="off">
                    <!--autocomplete is suggestion/earlier text in the text box-->
                    <button type="submit" name="list" value=<%=ListTittle %>>+</button>
                </form>
    </div>


    <%- include("footer") -%>